* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Raleway', sans-serif;
}

.logo {
    display: flex;
    width: 100%;
    background: #000;
    justify-content: center;
    margin-bottom: 20px;
}

.graficlogo {
    box-sizing: border-box;
    max-width: 100%;
    padding: 5px;
}

nav {
	margin: auto;
	width: 800px;
	height: 50px;
	text-align: center;
}

.topnav	{
	border: 5px solid #0A0021;
	background-color: #713C8F;
	padding: 20px;
	border-radius: 100px;
}

.topnav	a {
	color: #FFF;
	text-align: center;
	padding: 14px 16px;
	font-size: 15px;
}

.topnav	a:hover {
	border-bottom: 2px solid #FFF;
}

.topnav .icon {
	display: none;
}

.mw-100 {
	margin-top: 40px;
	max-width: 86%;
	padding-left: 12%;
}

.advantages__container {
	display: flex;
	justify-content: center;
}

.advantages {
	padding-top: 40px;
	padding-bottom: 40px;
	width: 70%;
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
}

.advantages__item {
	width: 30%;
    padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		margin-top: -17px;
		display: block;
		color: black;
	}
	nav{
		width: 100%;
		height: 100px;
		text-align: left;
		height: 40px;
	}
	.topnav.responsive{
		position: relative;
	}
	.topnav.responsive a.icon {
        padding-top: 30px;
		position: relative;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.advantages__item {
		width: 45%;
    }
}

@media screen and (max-width:530px) {
	.advantages {
		flex-direction: column;
	}
	.advantages__item {
		width: 100%;
    }
    nav{
    	height: 40px;
    }
}